[submodule "anoncreds-rs"]
	path = anoncreds-rs
	url = git@github.com:animo/anoncreds-rs
	branch = fixes
[submodule "indy-vdr"]
	path = indy-vdr
	url = git@github.com:animo/indy-vdr
	branch = fixes
[submodule "aries-askar"]
	path = aries-askar
	url = git@github.com:animo/aries-askar
	branch = fixes
[submodule "aries-framework-javascript"]
	path = aries-framework-javascript
	url = git@github.com:animo/aries-framework-javascript
	branch = fixes
